@import "tailwindcss";

@theme {
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-source-code-pro);
}

:root {
  --bg: #f4fbfa;
  --text: #091616;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #040b0a;
    --text: #e9f6f6;
    --primary: #293c66;
    --secondary: #343a83;
    --accent: #44a7a5;
  }
} */

body {
  color: var(--text);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}
